/* #ffffff, #cccccc, #4169e1 */
:root {
  --color60: #ffffff;
  --color30: #cccccc;
  --color10: #4169e1;
  --border-radius10: 10px;
  --border-radius50: 50px;
  --padding10: 10px;
  --padding20: 20px;
  --card-shadow: 0 5px 5px rgba(0, 0, 0, .3);
  --margin-bottom: 20px
}

.flex-util {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  height: 100vh;
}

main {
  height: 100vh;
  align-content: center;
}

.app-container {
  width: 85%;
  background-color: var(--color30);
  padding: var(--padding10);
  margin: auto;
  border-radius: var(--border-radius10);
  text-align: center;
  box-shadow: var(--card-shadow);
}

h1 {
  letter-spacing: -1.5px;
  line-height: 1.2em;
  font-size: 2.4em;
  margin-top: 0px;
  font-weight: lighter;
}

.search-bar {
  border: none;
  color: white;
  background-color: var(--color10);
  padding: var(--padding10);
  border-radius: var(--border-radius50);
  width: 65%;
  font-size: 20px;
  text-align: center;
  transition: all 300ms ease-in-out;
  margin-bottom: var(--margin-bottom)
}

.search-bar:hover {
  cursor: pointer;
  box-shadow: var(--card-shadow);
  transform: translateY(-3px)
}

.search-bar:focus {
  outline: none;
  box-shadow: var(--card-shadow);
  transform: translateY(-3px)
}

::placeholder {
  color: #ffffff99;
}

.weather-card-main {
  margin: auto;
  background-color: var(--color60);
  border-radius: var(--border-radius50);
  width: 80%;
  padding: var(--padding10);
  box-shadow: var(--card-shadow);
}

.large-icon {
  width: 150px;
  border-radius: 50px;
  scale: 1.2;
}

.weather-card-main h2 {
  width: 50%;
}

.weather-card-main h3 {
  font-size: 3em;
  margin: 0;
  width: 100%;
  padding: var(--padding10);
  /* position: relative;
  right: 105px */
}

.today-detail-container {
  background-color: var(--color30);
  border-radius: var(--border-radius50);
  width: 65%;
  /* maybe change */
  justify-content: space-around;
  font-size: 15px;
  border-right: var(--color10) solid 2px;
  border-left: var(--color10) solid 2px;
  box-shadow: var(--card-shadow);
  margin-bottom: var(--margin-bottom)
}

.today-wind,
.today-humid {
  margin: 0;
  padding: var(--padding10)
}

.future-forecast {
  width: 90%;
  background-color: var(--color30);
  border-radius: var(--border-radius50);
  padding: var(--padding10);
}

.future-forecast>div {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  overflow: hidden;
  padding: var(--padding10);
  border-radius: var(--border-radius50);
  gap: 12px;
  overflow-x: scroll hidden;
}

.future-forecast h5 {
  width: 100%;
  margin: 0;
  font-size: 20px;
}
.slider > * {
  cursor: pointer;
  animation: bounce 1000ms ease-out
}
.weather-sub-card {
  background-color: var(--color60);
  width: fit-content;
  border-radius: var(--border-radius50);
  box-shadow: var(--card-shadow);
  /* padding: var(--padding10); */
}


.future-temp {
  margin: 0;

}

@keyframes bounce {
  0% {
    transform: translateX();
  }
  25%{
    transform: translateX(-20px);
  }
  50%{
    transform: translateX(-20px);
  }
  100% {
    transform: translateX();
  }
}