/* #ffffff, #cccccc, #4169e1 */
:root {
  --color60: #ffffff;
  --color30: #d5dbe0;
  --color10: #4169e1;
  --border-radius10: 10px;
  --border-radius50: 50px;
  --padding5: 5px;
  --padding10: 10px;
  --padding20: 20px;
  --card-shadow: 0 5px 5px rgba(0, 0, 0, .3);
  --margin-bottom: 10px
}

.app-container {
  max-width: 500px;
}

.loader {
  width: 48px;
  height: 48px;
  border: 5px solid var(--color60);
  border-bottom-color: var(--color10);
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: loading 1s linear infinite;
}

.recent-search-list {
  list-style: none;
  padding: 0;
  border-radius: var(--border-radius10);
  background-color: #4169e1;
  /* change later */
  box-shadow: var(--card-shadow);
  margin: auto;
  position: absolute;
  left: 0;
  right: 0;
  width: 300px;
  opacity: 100%;
  transition: 100ms ease-out;
  visibility: hidden;
  opacity: 0%
}

.recent-search-list.active {
  opacity: 100%;
  visibility: visible;
}

.recent-searches button {
  border: none;
  padding: var(--padding10);
  border-radius: var(--border-radius50);
  background-color: var(--color60);
  transition: 200ms ease-in;
}
.recent-searches button:hover {
  cursor: pointer;
  box-shadow: var(--card-shadow);
  transform: translateY(-3px)
}

.recent-search-list li {
  border-radius: var(--border-radius50);
  padding: var(--padding5);
  width: 85%;
  background-color: #ffffff90;
  cursor: pointer;
  margin: 4px auto;
  transition: 200ms linear;
}

.recent-search-list li:hover {
  background-color: #d5dbe0;
}

.recent-search-list li span {
  float: right;
}

.hidden {
  display: none
}

.flex-util {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  height: 100vh;
}


main {
  height: 100vh;
  align-content: center;
}

.app-container {
  width: 85%;
  background-color: var(--color30);
  padding: var(--padding10);
  margin: auto;
  border-radius: var(--border-radius10);
  text-align: center;
  box-shadow: var(--card-shadow);
}

h1 {
  letter-spacing: -1.5px;
  line-height: 1.2em;
  font-size: 2.4em;
  margin-top: 0px;
  font-weight: lighter;
}

.search-bar {
  border: none;
  color: white;
  background-color: var(--color10);
  padding: var(--padding10);
  border-radius: var(--border-radius50);
  width: 65%;
  font-size: 20px;
  text-align: center;
  transition: all 300ms ease-in-out;
  margin-bottom: var(--margin-bottom);
  /* display: none */
}

.search-bar:hover {
  cursor: pointer;
  box-shadow: var(--card-shadow);
  transform: translateY(-3px)
}

.search-bar:focus {
  outline: none;
  box-shadow: var(--card-shadow);
  transform: translateY(-3px)
}

::placeholder {
  color: #ffffff99;
}

.weather-card-main {
  margin: auto;
  margin-top: var(--margin-bottom);
  background-color: var(--color60);
  border-radius: var(--border-radius50);
  width: 80%;
  padding: var(--padding10);
  box-shadow: var(--card-shadow);
}

.large-icon {
  border-radius: var(--border-radius50);
  /* scale: 1.75 ; */
  /* background-color: var(--color30); */
  /* box-shadow: var(--card-shadow); */
}

.weather-card-main .current-city {
  margin: 0;
  margin-top: 20px;
  padding: var(--padding10);
  border-radius: var(--border-radius50);
  box-shadow: var(--card-shadow);
  background-color: var(--color10);
  font-size: 30px;
  width: 85%;
  color: white;
}

.weather-card-main h2 {
  width: 50%;
}

.weather-card-main h3 {
  font-size: 3em;
  margin: 0;
  width: 100%;
  padding: var(--padding10);
  /* position: relative;
  right: 105px */
}

.today-detail-container {
  background-color: var(--color30);
  border-radius: var(--border-radius50);
  width: 85%;
  /* maybe change */
  justify-content: space-around;
  font-size: 15px;
  border-right: var(--color10) solid 2px;
  border-left: var(--color10) solid 2px;
  box-shadow: var(--card-shadow);
  margin-bottom: var(--margin-bottom)
}

.today-wind,
.today-humid {
  margin: 0;
  padding: var(--padding10)
}

.future-forecast {
  width: 85%;
  background-color: var(--color30);
  border-radius: var(--border-radius50);
  padding: var(--padding10);
  margin-bottom: var(--margin-bottom);
  box-shadow: var(--card-shadow);
}

.slider {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  overflow: hidden;
  padding: var(--padding10);
  border-radius: var(--border-radius50);
  gap: 12px;
  cursor: pointer;
  justify-content: space-between;
}

.future-forecast h5 {
  width: 100%;
  margin: 0;
  font-size: 20px;
}

.slider>* {
  animation: bounce 1000ms ease-out;
}

.weather-sub-card {
  background-color: var(--color60);
  border-radius: var(--border-radius50);
  box-shadow: var(--card-shadow);
  padding: var(--padding10);
}

.future-date {
  width: 100px;
  font-weight: bolder;
  margin: 0;
  padding: var(--padding10);
}

.future-temp {
  margin: 0;
  margin-bottom: 10px;
  font-size: 20px;
  position: relative;
  bottom: 10px;
}

@keyframes bounce {
  0% {
    transform: translateX();
  }

  50% {
    transform: translateX(-20px);
  }

  100% {
    transform: translateX();
  }
}

@keyframes loading {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}