/* #ffffff, #cccccc, #4169e1 */
:root {
  --color60: #ffffff;
  --color30: #cccccc;
  --color10: #4169e1;
  --border-radius10: 10px;
  --border-radius50: 50px;
  --padding10: 10px;
  --padding20: 20px;
  --card-shadow: 0 5px 5px rgba(0, 0, 0, .3);
}

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  height: 100vh;
}
main {
  height: 100vh;
  align-content: center;
}
.app-container {
  width: 85%;
  background-color: var(--color30);
  padding: var(--padding10);
  margin: auto;
  border-radius: var(--border-radius10);
  text-align: center;
  box-shadow: var(--card-shadow);
}

/* .app-container[data-status='loading'] {
  background-color: black;
}

.app-container[data-status='results'] {
  background-color: white;
} */

.flex-util {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

h1 {
  letter-spacing: -1.5px;
  line-height: 1.2em;
  font-size: 2.4em;
  margin-top: 0px;
  font-weight: lighter;
}

.search-section {
  /* background-color: var(--color30);
  padding: var(--padding10);
  width: 85%;
  margin: auto;
  border-radius: var(--border-radius10);
  text-align: center; */
}

.search-bar {
  /* display: block; */
  /* margin: auto; */
  border: none;
  color: white;
  background-color: var(--color10);
  padding: var(--padding10);
  border-radius: var(--border-radius50);
  width: 50%;
  font-size: 20px;
  text-align: center;
  transition: all 300ms ease-in-out;  
  margin-bottom: 20px
}

.search-bar:hover {
  cursor: pointer;
  box-shadow: var(--card-shadow);
  transform: translateY(-3px)
}

.search-bar:focus {
  outline: none;
  box-shadow: var(--card-shadow);
  transform: translateY(-3px)
}

::placeholder {
  color: #ffffff99;
}

.weather-icon-lg {
  margin: auto;
  background-color: var(--color60);
  border-radius: var(--border-radius50);
  width: 200px;
  padding: var(--padding10);
  box-shadow: var(--card-shadow);
}
.weather-icon-lg img {
  width: 150px;
  border-radius: 50px;
}
.weather-icon-lg h2 {
}